{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Universal Probe library assay design </title>
    <link rel="stylesheet" href="{% static 'design/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'design/css/index.css' %}">
  </head>

  <body>

    <h1> Assay design for Universal Probe Library (discontinued service) </h1>

    <div class="container summary">
      <p class="lead">
        This application was built to replace a certain "Assay Design Center" which
        has been discontinued from the end of 2020 by its maintainers. We hope
        you fill find the functionality of this tool to be similar to the original,
        and that it allows for the continued use of your Universal Probe Library
        products.
      </p>
    </div>

    <br>

    <form action="/" method="post" onsubmit="return validate();">
      {% csrf_token %}

      {{ form.errors }}

      <div class="form-group">
        <div class="row">
          <div class="col">
            <h3>
              Enter FASTA DNA sequence(s) <br>
            </h3>

            <p class="lead muted">(multiple sequences accepted)</p>
            <br>

            <small class="mono">
              e.g. <br>
              >part of X00351 Human mRNA for beta-actin <br>
              CACGGCATCGTCACCAACTGGGACGACATGGAGAAAATCTGGCACCACACCTTCTACAATGAGCTGCGTGTGGCTCCCGA <br>
              GGAGCACCCCGTGCTGCTGACCGAGGCCCCCCTGAACCCCAAGGCCAACCGCGAGAAGATGACCCAGATCATGTTTGAGA <br>
              CCTTCAACACCCCAGCCATGTACGTTGCTATCCAGGCTGTGCTATCCCTGTACGCCTCTGGCCGTACCACTGGCATCGTG <br>
              ATGGACTCCGGTGACGGGGTCACCCACACTGTGCCCATCTACGAGGGGTATGCCCTCCCC
            </small>
          </div>

          <div class="col">
            <textarea class="form-control fasta mono" name="fasta" rows="12" cols="80" placeholder="Paste FASTA sequence(s) here" required>{{ form.fasta.value }}</textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-9">
          <div class="form-group">
            <h3>
              Optional parameters
              <span class="muted"> (defaults recommended) </span>
              <span class="small float-right"><a href="https://primer3.org/manual.html#globalTags" target="_blank">Primer3 input parameters</a></span>
            </h3>
            <br>

            <h4> Primer length (nt) </h4>
            <label for="primer_optimum"> Optimum </label>
            <input type="number" name="primer_optimum" value="{{ form.primer_optimum.value }}"/>
            <label for="primer_min"> Min </label>
            <input type="number" name="primer_min" value="{{ form.primer_min.value }}"/>
            <label for="primer_max"> Max </label>
            <input type="number" name="primer_max" value="{{ form.primer_max.value }}"/>
          </div>

          <div class="form-group">
            <h4> Amplicon length (nt) </h4>
            <label for="amplicon_min"> Min </label>
            <input type="number" name="amplicon_min" value="{{ form.amplicon_min.value }}"/>
            <label for="amplicon_max"> Max </label>
            <input type="number" name="amplicon_max" value="{{ form.amplicon_max.value }}"/>
          </div>

          <div class="form-group">
            <h4> Melting temperate (&#176;C) </h4>
            <label for="tm_optimum"> Optimum </label>
            <input type="number" name="tm_optimum" value="{{ form.tm_optimum.value }}"/>
            <label for="tm_min"> Min </label>
            <input type="number" name="tm_min" value="{{ form.tm_min.value }}"/>
            <label for="tm_max"> Max </label>
            <input type="number" name="tm_max" value="{{ form.tm_max.value }}"/>
          </div>

          <div class="form-group">
            <h4> Annealing properties </h4>
            <label for="gc_min"> GC min % </label>
            <input type="number" name="gc_min" value="{{ form.gc_min.value }}"/>
            <label for="gc_clamp"> GC clamp </label>
            <input type="number" name="gc_clamp" value="{{ form.gc_clamp.value }}"/>
            <label for="self_dimer_any"> Self-dimer (any) </label>
            <input type="number" name="self_dimer_any" value="{{ form.self_dimer_any.value }}"/>
            <label for="self_dimer_end"> Self-dimer (3') </label>
            <input type="number" name="self_dimer_end" value="{{ form.self_dimer_end.value }}"/>
          </div>
        </div>

        <div class="col-lg-3 text-center">
          <div class="form-group submit">
            <button class="btn btn-primary btn-lg" type="submit"> Submit </button>
          </div>
        </div>
      </div>

    </form>

    <footer>
      <p>
        Coded with
        <img src="{% static 'design/img/heart.svg' %}" alt="Heart">
        by
        <a href="http://neoformit.com" target="_blank">
          <img src="{% static 'design/img/neoform.svg' %}" alt="Neoform" style="margin-bottom: 9px;">
        </a>
      </p>
    </footer>

    <script src="{% static 'design/js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'design/js/bootstrap.min.js' %}"></script>
  </body>

</html>
