PRIMER_TASK=pick_detection_primers
PRIMER_PICK_LEFT_PRIMER=1
PRIMER_PICK_INTERNAL_OLIGO=0
PRIMER_PICK_RIGHT_PRIMER=1
PRIMER_OPT_SIZE={{ primer_optimum }}
PRIMER_MIN_SIZE={{ primer_min }}
PRIMER_MAX_SIZE={{ primer_max }}
PRIMER_MAX_SELF_ANY={{ self_dimer_any }}
PRIMER_MAX_SELF_END={{ self_dimer_end }}
PRIMER_OPT_TM={{ tm_optimum }}
PRIMER_MIN_TM={{ tm_min }}
PRIMER_MAX_TM={{ tm_max }}
PRIMER_GC_CLAMP={{ gc_clamp }}
PRIMER_MIN_GC={{ gc_min }}
PRIMER_MAX_NS_ACCEPTED=1
PRIMER_NUM_RETURN=50
PRIMER_PRODUCT_SIZE_RANGE={{ product_size_range }}
P3_FILE_FLAG=0
PRIMER_EXPLAIN_FLAG=1
PRIMER_THERMODYNAMIC_PARAMETERS_PATH={{ conf_path }}
={% for name, template in fasta.items %}
SEQUENCE_ID={{ name }}
SEQUENCE_TEMPLATE={{ template }}
=
{% endfor %}
